<template>
  <div>
    <MainSliderVue />
    <TrandingToday />
    <TopCollection />
    <UpComingDrops />
    <CreateSell />
    <ResourcesStarted />
  </div>
</template>

<script>
// @ is an alias to /src
import MainSliderVue from "../components/home/MainSlider.vue";
import TrandingToday from "../components/home/TrandingToday.vue";
import TopCollection from "../components/home/TopCollection.vue";
import UpComingDrops from "../components/home/UpComingDrops.vue";
import CreateSell from "../components/home/CreateSell.vue";
import ResourcesStarted from "../components/home/ResourcesStarted.vue";
export default {
  name: "Home",
  components: {
    MainSliderVue,
    TrandingToday,
    TopCollection,
    UpComingDrops,
    CreateSell,
    ResourcesStarted,
  },
};
</script>
<style lang="scss" scoped></style>
