<template>
  <div class="create-sell">
    <div class="container">
      <div class="head text-center">
        <h2>Create & sell <span>your NFTs</span></h2>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="item">
            <figure><img src="@/assets/images/001.svg" alt="" /></figure>
            <h2>Set up your wallet</h2>
            <p class="mb-0">
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout. The
              point of using Lorem Ipsum
            </p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="item">
            <figure><img src="@/assets/images/002.svg" alt="" /></figure>
            <h2>Create your collection</h2>
            <p class="mb-0">
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout. The
              point of using Lorem Ipsum
            </p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="item">
            <figure><img src="@/assets/images/003.svg" alt="" /></figure>
            <h2>Add your NFTs</h2>
            <p class="mb-0">
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout. The
              point of using Lorem Ipsum
            </p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="item">
            <figure><img src="@/assets/images/004.svg" alt="" /></figure>
            <h2>List them for sale</h2>
            <p class="mb-0">
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout. The
              point of using Lorem Ipsum
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "CreateSell",
};
</script>
<style lang="scss" scoped>
.create-sell {
  margin-bottom: 10em;
  text-align: center;
}

.create-sell .item {
  margin: 0 1.2em;
  color: #777e91;
  font-size: 0.95em;
}

.create-sell .item figure {
  width: 52px;
  height: 52px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(246.96deg, #dc1fff -35.12%, #03e1ff 123.36%);
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-sell .item h2 {
  font-size: 1.3em;
  font-weight: 700;
  color: #1f1f2c;
}
</style>
