<template>
  <div class="main-slider">
    <div class="swiper">
      <div class="swiper-wrapper">
        <swiper
          :slides-per-view="1"
          :space-between="50"
          @swiper="onSwiper"
          @slideChange="onSlideChange"
          :autoplay="{ delay: 5000 }"
          loop="true"
        >
          <swiper-slide>
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-7">
                  <div class="caption">
                    <h2>
                      Discover <span>,</span> collect <span>&</span><br />
                      sell <span>extraordinary</span> NFTs
                    </h2>
                    <p>
                      SandwichNFT is the most user-friendly NFT Marketplace on
                      Solana. With integrated permissionless launchpad anyone
                      can launch their own Non Fungible Token or NFT collection.
                      Get started on SandwichNFT.
                    </p>
                    <ul>
                      <li>
                        <a href=""
                          ><img
                            src="@/assets/images/explore.svg"
                            alt=""
                          />Explore</a
                        >
                      </li>
                      <li>
                        <a href=""
                          ><img
                            src="@/assets/images/create.svg"
                            alt=""
                          />Create</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-5">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <div class="item">
                    <figure><img src="@/assets/images/01.jpg" alt="" /></figure>
                    <div class="caption">
                      <div class="d-flex">
                        <div class="left">
                          <div class="d-flex">
                            <figure>
                              <img
                                src="@/assets/images/austin-wade.jpg"
                                alt=""
                              />
                            </figure>
                            <div class="content">
                              <h3>The future of ETH®</h3>
                              <span>#2345</span>
                            </div>
                          </div>
                        </div>
                        <div class="right">
                          <p>Highest bid</p>
                          <span>1.125 ETH</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-7">
                  <div class="caption">
                    <h2>
                      Discover <span>,</span> collect <span>&</span><br />
                      sell <span>extraordinary</span> NFTs
                    </h2>
                    <p>
                      SandwichNFT is the most user-friendly NFT Marketplace on
                      Solana. With integrated permissionless launchpad anyone
                      can launch their own Non Fungible Token or NFT collection.
                      Get started on SandwichNFT.
                    </p>
                    <ul>
                      <li>
                        <a href=""
                          ><img
                            src="@/assets/images/explore.svg"
                            alt=""
                          />Explore</a
                        >
                      </li>
                      <li>
                        <a href=""
                          ><img
                            src="@/assets/images/create.svg"
                            alt=""
                          />Create</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-5">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <div class="item">
                    <figure><img src="@/assets/images/01.jpg" alt="" /></figure>
                    <div class="caption">
                      <div class="d-flex">
                        <div class="left">
                          <div class="d-flex">
                            <figure>
                              <img
                                src="@/assets/images/austin-wade.jpg"
                                alt=""
                              />
                            </figure>
                            <div class="content">
                              <h3>The future of ETH®</h3>
                              <span>#2345</span>
                            </div>
                          </div>
                        </div>
                        <div class="right">
                          <p>Highest bid</p>
                          <span>1.125 ETH</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-7">
                  <div class="caption">
                    <h2>
                      Discover <span>,</span> collect <span>&</span><br />
                      sell <span>extraordinary</span> NFTs
                    </h2>
                    <p>
                      SandwichNFT is the most user-friendly NFT Marketplace on
                      Solana. With integrated permissionless launchpad anyone
                      can launch their own Non Fungible Token or NFT collection.
                      Get started on SandwichNFT.
                    </p>
                    <ul>
                      <li>
                        <a href=""
                          ><img
                            src="@/assets/images/explore.svg"
                            alt=""
                          />Explore</a
                        >
                      </li>
                      <li>
                        <a href=""
                          ><img
                            src="@/assets/images/create.svg"
                            alt=""
                          />Create</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-5">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <div class="item">
                    <figure><img src="@/assets/images/01.jpg" alt="" /></figure>
                    <div class="caption">
                      <div class="d-flex">
                        <div class="left">
                          <div class="d-flex">
                            <figure>
                              <img
                                src="@/assets/images/austin-wade.jpg"
                                alt=""
                              />
                            </figure>
                            <div class="content">
                              <h3>The future of ETH®</h3>
                              <span>#2345</span>
                            </div>
                          </div>
                        </div>
                        <div class="right">
                          <p>Highest bid</p>
                          <span>1.125 ETH</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </swiper-slide>
        </swiper>
      </div>
    </div>
  </div>
</template>
<script>
import { Swiper, SwiperSlide } from "swiper/vue";
import SwiperCore, { Autoplay } from "swiper";
import "swiper/swiper.scss";
SwiperCore.use([Autoplay]);

export default {
  name: "MainSlider",
  components: {
    Swiper,
    SwiperSlide,
  },
  setup() {
    const onSwiper = (swiper) => {
      console.log(swiper);
    };
    const onSlideChange = () => {
      console.log("slide change");
    };
    return {
      onSwiper,
      onSlideChange,
    };
  },
};
</script>
<style lang="scss" scoped>
.main-slider {
  background: url(~@/assets/images/bg-01.svg) 0% 0% / cover;
  min-height: 670px;
  background-size: cover;
  padding-top: 4em;
  position: relative;
  margin-bottom: 10px;
  z-index: 11;
}
.swiper-container {
  padding-bottom: 100px;
}
.main-slider:before {
  content: "";
  background: url(~@/assets/images/dec01.svg);
  position: absolute;
  left: 0;
  background-repeat: no-repeat;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: 1;
  background-position: bottom center;
}

.main-slider .caption {
  padding-right: 3em;
}

.main-slider .caption h2 {
  font-weight: 600;
  color: #3eacff;
  font-size: 3em;
  line-height: 1.3;
}

.main-slider .caption h2 span {
  color: #111;
}

.main-slider .caption p {
  font-size: 1.09rem;
  color: #6e618e;
  margin-bottom: 1.5em;
}

.main-slider .caption ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  margin: 0;
}

.main-slider .caption ul li:not(:last-child) {
  margin-right: 1em;
}

.main-slider .caption ul li a {
  display: block;
  padding: 0.6em;
  min-width: 150px;
  text-align: center;
  border-radius: 30px;
  border: 1.5px solid;
  color: #5142fc;
  font-weight: 700;
}

.main-slider .caption ul li a img {
  margin-right: 0.5em;
}

.main-slider .caption ul li:nth-child(2) a {
  background: linear-gradient(246.96deg, #dc1fff -35.12%, #03e1ff 123.36%);
  color: #fff;
}

.main-slider .caption ul li:nth-child(2) a:hover {
  background: linear-gradient(43deg, #dc1fff -35.12%, #03e1ff 123.36%);
}

.main-slider .caption ul li a:hover {
  background: #37b2ff;
  color: #fff;
}

.main-slider .caption ul li a:hover img {
  filter: brightness(0) invert(1);
}

.main-slider .item {
  background: #ffffff;
  box-shadow: 0px -4px 18px rgb(0 0 0 / 15%);
  border-radius: 15px;
  margin: 1em;
  overflow: hidden;
  padding: 0.7em;
  margin-right: 3em;
}

.main-slider .item > figure {
  overflow: hidden;
  height: 252px;
  border-radius: 10px;
}

.main-slider .item figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-slider .item .caption {
  padding-right: 0;
}

.main-slider .item .caption .left {
  width: 80%;
  flex: 0 0 auto;
}

.main-slider .item .caption .right {
  width: 20%;
  flex: 0 0 auto;
  font-size: 0.8em;
  text-align: center;
}

.main-slider .item .caption .left .d-flex {
  align-items: center;
}

.main-slider .item .caption .left .d-flex figure {
  height: 40px;
  width: 40px;
  flex: 0 0 auto;
  border-radius: 50%;
  overflow: hidden;
  margin: 0;
  margin-right: 0.5em;
}

.main-slider .item .caption .left .d-flex .content {
  padding-right: 0.5em;
}

.main-slider .item .caption .left .d-flex .content h3 {
  font-weight: 600;
  color: #23262f;
  font-size: 1.2em;
  margin: 0;
}

.main-slider .item .caption .left .d-flex .content span {
  font-size: 0.9em;
  color: #353945;
}

.main-slider .item .caption .right p {
  margin: 0;
  font-size: 0.91em;
  color: #777e91;
}

.main-slider .item .caption .right span {
  color: #45b36b;
  border: 1px solid;
  display: inline-block;
  padding: 0.2em;
  border-radius: 4px;
  min-width: 64px;
  text-align: center;
}
.main-slider .col-md-5 {
  position: relative;
}

.main-slider .col-md-5 > span {
  display: block;
  height: 32px;
  width: 32px;
  border: 1px solid #35b4ff;
  border-radius: 50px;
  position: absolute;
  right: 31px;
  animation: top-b1 3s ease-in-out infinite;
}

.main-slider .col-md-5 > span + span {
  left: -23px;
  right: inherit;
  top: 120px;
}

.main-slider .col-md-5 > span + span + span,
.main-slider .col-md-5 > span + span + span + span {
  background: linear-gradient(246.96deg, #dc1fff -35.12%, #03e1ff 123.36%);
  border: 0;
  height: 66px;
  width: 66px;
}

.main-slider .col-md-5 > span + span + span + span {
  left: inherit;
  right: 0px;
  bottom: 47px;
}

.main-slider .col-md-5 > span + span + span {
  height: 35px;
  width: 35px;
  top: inherit;
  bottom: -70px;
  left: 30px;
  z-index: 111;
}
@media (max-width: 992px) {
  .main-slider {
    margin-bottom: 50px;
  }
  .main-slider .item {
    margin-right: 0em;
    width: 100%;
    z-index: 11;
  }
  .main-slider .caption h2 {
    font-size: 2.5em;
  }
}
</style>
