<template>
  <div class="resources-started">
    <div class="head text-center">
      <h2><span>Resources</span> for getting started</h2>
    </div>
    <div class="container">
      <div class="slider">
        <div class="swiper swiper2">
          <div class="swiper-wrapper">
            <swiper
              :slides-per-view="3"
              :space-between="5"
              @swiper="onSwiper"
              navigation
              @slideChange="onSlideChange"
              :autoplay="{ delay: 5000 }"
              loop="true"
              :breakpoints="{
                400: {
                  slidesPerView: 1,
                },
                768: {
                  slidesPerView: 2,
                },
                992: {
                  slidesPerView: 3,
                },
              }"
            >
              <swiper-slide>
                <div class="item">
                  <a href="" class="image"
                    ><img src="@/assets/images/img001.png" alt=""
                  /></a>
                  <a href="">"Hamlet Contemplates Yorick's...</a>
                </div>
              </swiper-slide>
              <swiper-slide>
                <div class="item">
                  <a href="" class="image"
                    ><img src="@/assets/images/img002.png" alt=""
                  /></a>
                  <a href="">"Hamlet Contemplates Yorick's...</a>
                </div>
              </swiper-slide>
              <swiper-slide>
                <div class="item">
                  <a href="" class="image"
                    ><img src="@/assets/images/img003.png" alt=""
                  /></a>
                  <a href="">"Hamlet Contemplates Yorick's...</a>
                </div>
              </swiper-slide>
              <swiper-slide>
                <div class="item">
                  <a href="" class="image"
                    ><img src="@/assets/images/img001.png" alt=""
                  /></a>
                  <a href="">"Hamlet Contemplates Yorick's...</a>
                </div>
              </swiper-slide>
              <swiper-slide>
                <div class="item">
                  <a href="" class="image"
                    ><img src="@/assets/images/img002.png" alt=""
                  /></a>
                  <a href="">"Hamlet Contemplates Yorick's...</a>
                </div>
              </swiper-slide>
            </swiper>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Swiper, SwiperSlide } from "swiper/vue";
import SwiperCore, { Autoplay, Navigation } from "swiper";
import "swiper/swiper.scss";
import "swiper/components/navigation/navigation.scss";
SwiperCore.use([Autoplay, Navigation]);

export default {
  name: "ResourcesStarted",
  components: {
    Swiper,
    SwiperSlide,
  },
  setup() {
    const onSwiper = (swiper) => {
      console.log(swiper);
    };
    const onSlideChange = () => {
      console.log("slide change");
    };
    return {
      onSwiper,
      onSlideChange,
    };
  },
};
</script>
<style lang="scss">
.resources-started {
  padding: 4em 0;
  background: #f1fcff;
  position: relative;
  padding-top: 0;
}

.resources-started:after {
  content: "";
  background: linear-gradient(246.96deg, #dc1fff -35.12%, #03e1ff 123.36%);
  border: 0;
  height: 66px;
  width: 66px;
  position: absolute;
  border-radius: 50px;
  right: 0;
  bottom: 30px;
  animation: top-b1 3s ease-in-out infinite;
}

.resources-started:before {
  content: "";
  background-image: url(~@/assets/images/dec02.svg);
  position: absolute;
  left: 0;
  right: 0;
  top: -98px;
  height: 180px;
  transform: scaleY(-1);
  background-size: cover;
  background-position: bottom center;
  z-index: -1;
}

.resources-started .item {
  background: #ffffff;
  box-shadow: 0px 9px 12px rgb(0 0 0 / 5%);
  border-radius: 14.8269px;
  padding: 1em;
  margin: 0.8em 0.5em;
}

.resources-started .item a.image {
  display: block;
  overflow: hidden;
  height: 285px;
  border-radius: 10px;
  margin: 0 0 1em;
}

.resources-started .item a.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.resources-started .item a:not(.image) {
  font-weight: 500;
}
.resources-started .item a {
  color: black;
}

.resources-started .swiper-button-next,
.resources-started .swiper-button-prev {
  background: #fff !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50px !important;
  box-shadow: 0px 10px 85px rgb(0 0 0 / 20%) !important;
}

.resources-started .swiper-button-next:after,
.resources-started .swiper-button-prev:after {
  font-size: 1em !important;
}

.resources-started .swiper-button-prev {
  left: -3em !important;
}

.resources-started .swiper-button-next {
  right: -3em !important;
}
.swiper-container {
  position: unset;
}
.swiper-wrapper {
  position: relative;
}
@media (max-width: 630px) {
  .resources-started .swiper-button-prev {
    left: -1em !important;
  }

  .resources-started .swiper-button-next {
    right: -1em !important;
  }
}
@media (max-width: 580px) {
  .resources-started .swiper-button-prev {
    left: 0em !important;
  }

  .resources-started .swiper-button-next {
    right: 0em !important;
  }
}
</style>
