<template>
  <div class="top-collections">
    <div class="container">
      <div class="head text-center">
        <h2>Top <span>Collections</span></h2>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="item">
            <div class="d-flex align-items-center">
              <figure class="mb-0">
                <img src="@/assets/images/IMG.png" alt="" /><i
                  class="bi bi-check-circle-fill"
                ></i>
              </figure>
              <div class="caption">
                <h3>Project Name</h3>
                <span>Ranking: 34</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="item">
            <div class="d-flex align-items-center">
              <figure class="mb-0">
                <img src="@/assets/images/IMG.png" alt="" /><i
                  class="bi bi-check-circle-fill"
                ></i>
              </figure>
              <div class="caption">
                <h3>Project Name</h3>
                <span>Ranking: 34</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="item">
            <div class="d-flex align-items-center">
              <figure class="mb-0">
                <img src="@/assets/images/IMG.png" alt="" /><i
                  class="bi bi-check-circle-fill"
                ></i>
              </figure>
              <div class="caption">
                <h3>Project Name</h3>
                <span>Ranking: 34</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="item">
            <div class="d-flex align-items-center">
              <figure class="mb-0">
                <img src="@/assets/images/IMG.png" alt="" /><i
                  class="bi bi-check-circle-fill"
                ></i>
              </figure>
              <div class="caption">
                <h3>Project Name</h3>
                <span>Ranking: 34</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="item">
            <div class="d-flex align-items-center">
              <figure class="mb-0">
                <img src="@/assets/images/IMG.png" alt="" /><i
                  class="bi bi-check-circle-fill"
                ></i>
              </figure>
              <div class="caption">
                <h3>Project Name</h3>
                <span>Ranking: 34</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="item">
            <div class="d-flex align-items-center">
              <figure class="mb-0">
                <img src="@/assets/images/IMG.png" alt="" /><i
                  class="bi bi-check-circle-fill"
                ></i>
              </figure>
              <div class="caption">
                <h3>Project Name</h3>
                <span>Ranking: 34</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="item">
            <div class="d-flex align-items-center">
              <figure class="mb-0">
                <img src="@/assets/images/IMG.png" alt="" /><i
                  class="bi bi-check-circle-fill"
                ></i>
              </figure>
              <div class="caption">
                <h3>Project Name</h3>
                <span>Ranking: 34</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="item">
            <div class="d-flex align-items-center">
              <figure class="mb-0">
                <img src="@/assets/images/IMG.png" alt="" /><i
                  class="bi bi-check-circle-fill"
                ></i>
              </figure>
              <div class="caption">
                <h3>Project Name</h3>
                <span>Ranking: 34</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="item">
            <div class="d-flex align-items-center">
              <figure class="mb-0">
                <img src="@/assets/images/IMG.png" alt="" /><i
                  class="bi bi-check-circle-fill"
                ></i>
              </figure>
              <div class="caption">
                <h3>Project Name</h3>
                <span>Ranking: 34</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="item">
            <div class="d-flex align-items-center">
              <figure class="mb-0">
                <img src="@/assets/images/IMG.png" alt="" /><i
                  class="bi bi-check-circle-fill"
                ></i>
              </figure>
              <div class="caption">
                <h3>Project Name</h3>
                <span>Ranking: 34</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="item">
            <div class="d-flex align-items-center">
              <figure class="mb-0">
                <img src="@/assets/images/IMG.png" alt="" /><i
                  class="bi bi-check-circle-fill"
                ></i>
              </figure>
              <div class="caption">
                <h3>Project Name</h3>
                <span>Ranking: 34</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="item">
            <div class="d-flex align-items-center">
              <figure class="mb-0">
                <img src="@/assets/images/IMG.png" alt="" /><i
                  class="bi bi-check-circle-fill"
                ></i>
              </figure>
              <div class="caption">
                <h3>Project Name</h3>
                <span>Ranking: 34</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <a href="" class="btn-site">Load More</a>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "TopCollection",
};
</script>
<style lang="scss" scoped>
.top-collections {
  margin-bottom: 4em;
  position: relative;
}
.top-collections::after {
  content: "";
  height: 29px;
  width: 29px;
  position: absolute;
  z-index: 11;
  left: 30px;
  bottom: -13px;
  background: linear-gradient(
    246.96deg,
    rgb(220, 31, 255) -35.12%,
    rgb(3, 225, 255) 123.36%
  );
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  border-radius: 50px;
  animation: 3s ease-in-out 0s infinite normal none running top-b1;
}
.top-collections .item {
  margin: 0 0 2.5em;
  padding: 1em;
  border-radius: 50px;
  box-shadow: 0px 0px 0px rgba(47, 83, 109, 0.12);
  transition: 300ms;
}

.top-collections .item:hover {
  box-shadow: 0px 3px 16px rgba(47, 83, 109, 0.12);
}

.top-collections .item figure {
  position: relative;
  height: 70px;
  width: 70px;
  margin-right: 0.7em;
}

.top-collections .item figure i {
  position: absolute;
  right: -3px;
  bottom: 0;
  color: var(--c1);
}

.top-collections .item figure img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50px;
}

.top-collections .item .caption h3 {
  font-size: 1.3em;
  margin: 0 0 0.2em;
  color: #1f1f2c;
  font-weight: 600;
}

.top-collections .item .caption span {
  color: #7a798a;
  font-weight: 500;
}
</style>
