<template>
  <div class="trending-today">
    <span></span>
    <div class="container">
      <div class="head text-center">
        <h2>Trending <span>Today</span></h2>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="item">
            <a href="">
              <img src="@/assets/images/01.png" alt="" />
              <span>Rebel Bots</span>
            </a>
          </div>
        </div>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-4">
              <div class="item mb-3">
                <a href="">
                  <img src="@/assets/images/02.png" alt="" />
                  <span>Rebel Bots</span>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="item mb-3">
                <a href="">
                  <img src="@/assets/images/03.png" alt="" />
                  <span>Rebel Bots</span>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="item mb-3">
                <a href="">
                  <img src="@/assets/images/04.png" alt="" />
                  <span>Rebel Bots</span>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="item mb-3">
                <a href="">
                  <img src="@/assets/images/05.png" alt="" />
                  <span>Rebel Bots</span>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="item mb-3">
                <a href="">
                  <img src="@/assets/images/06.png" alt="" />
                  <span>Rebel Bots</span>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="item mb-3">
                <a href="">
                  <img src="@/assets/images/07.png" alt="" />
                  <span>Rebel Bots</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "TrandingTody",
};
</script>
<style lang="scss" scoped>
.trending-today {
  padding: 1em 0 4em;
  position: relative;
}
.trending-today > span {
  background: linear-gradient(246.96deg, #dc1fff -35.12%, #03e1ff 123.36%);
  border: 0;
  height: 66px;
  width: 66px;
  position: absolute;
  border-radius: 50px;
  left: 60px;
  top: -50px;
  z-index: 11;
  animation: top-b1 3s ease-in-out infinite;
}
.trending-today::before {
  content: "";
  position: absolute;
  bottom: -103px;
  right: 0px;
  height: 160px;
  width: 110px;
  background: url(~@/assets/images/decor01.svg) 0% 0% / contain no-repeat;
  background-repeat: no-repeat;
  animation: 3s ease-in-out 0s infinite normal none running top-b1;
}
.trending-today .item a {
  display: block;
  position: relative;
  overflow: hidden;
  height: 200px;
  border-radius: 10px;
}

.trending-today .item:not(.mb-3) a {
  height: 416px;
}

.trending-today .item a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trending-today .item a:before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    232.45deg,
    rgba(0, 0, 0, 0) 8.05%,
    rgba(0, 0, 0, 0.69) 93.44%
  );
}

.trending-today .item a span {
  position: absolute;
  bottom: 1em;
  left: 1em;
  font-size: 1.2em;
  color: #fff;
  letter-spacing: 1px;
}

.trending-today .item:not(.mb-3) a span {
  font-weight: 800;
  font-size: 1.8em;
}
</style>
