<template>
  <div class="upcoming-drops">
    <div class="container">
      <div class="head text-center">
        <h2>Upcoming <span>drops</span></h2>
      </div>
      <div class="row">
        <div class="col-md-4 mb-3">
          <div class="item">
            <figure>
              <a href=""><img src="@/assets/images/001.png" alt="" /></a>
            </figure>
            <div class="caption">
              <div class="d-flex">
                <div class="left">
                  <div class="d-flex align-items-center">
                    <span></span>
                    <div>
                      <small>Post owner</small>
                      <p class="m-0"><strong>SalvadorDali</strong></p>
                    </div>
                  </div>
                </div>
                <div class="right">
                  <span>Feb 19, 2021</span>
                </div>
              </div>
              <a href="">The next big trend in crypto</a>
              <p>
                Dolore officia sint incididunt non excepteur ea mollit commodo
                ut enim reprehenderit cupidatat labore ad laborum consectetur
                consequat...
              </p>
              <a href="" class="btn-site">Read more</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="item">
            <figure>
              <a href=""><img src="@/assets/images/002.png" alt="" /></a>
            </figure>
            <div class="caption">
              <div class="d-flex">
                <div class="left">
                  <div class="d-flex align-items-center">
                    <span></span>
                    <div>
                      <small>Post owner</small>
                      <p class="m-0"><strong>SalvadorDali</strong></p>
                    </div>
                  </div>
                </div>
                <div class="right">
                  <span>Feb 19, 2021</span>
                </div>
              </div>
              <a href="">The next big trend in crypto</a>
              <p>
                Dolore officia sint incididunt non excepteur ea mollit commodo
                ut enim reprehenderit cupidatat labore ad laborum consectetur
                consequat...
              </p>
              <a href="" class="btn-site">Read more</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="item">
            <figure>
              <a href=""><img src="@/assets/images/003.png" alt="" /></a>
            </figure>
            <div class="caption">
              <div class="d-flex">
                <div class="left">
                  <div class="d-flex align-items-center">
                    <span></span>
                    <div>
                      <small>Post owner</small>
                      <p class="m-0"><strong>SalvadorDali</strong></p>
                    </div>
                  </div>
                </div>
                <div class="right">
                  <span>Feb 19, 2021</span>
                </div>
              </div>
              <a href="">The next big trend in crypto</a>
              <p>
                Dolore officia sint incididunt non excepteur ea mollit commodo
                ut enim reprehenderit cupidatat labore ad laborum consectetur
                consequat...
              </p>
              <a href="" class="btn-site">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "UpComingDrops",
};
</script>
<style lang="scss" scoped>
.upcoming-drops {
  position: relative;
  background-image: url(~@/assets/images/dec02.svg);
  margin-bottom: 11em;
  padding-top: 4em;
  background-repeat: no-repeat;
  background-position: center top;
}
.upcoming-drops::before {
  content: "";
  position: absolute;
  bottom: -202px;
  left: 0px;
  height: 160px;
  width: 110px;
  background: url(~@/assets/images/decor02.svg) 0% 0% / contain no-repeat;
  background-repeat: no-repeat;
  animation: 3s ease-in-out 0s infinite normal none running top-b1;
}
.upcoming-drops::after {
  content: "";
  height: 66px;
  width: 66px;
  position: absolute;
  right: 30px;
  top: 30px;
  background: linear-gradient(
    246.96deg,
    rgb(220, 31, 255) -35.12%,
    rgb(3, 225, 255) 123.36%
  );
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  border-radius: 50px;
  animation: 3s ease-in-out 0s infinite normal none running top-b1;
}
.upcoming-drops .item {
  padding: 1em;
  background: #fff;
  box-shadow: 0px 10px 85px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}

.upcoming-drops .item figure a {
  display: block;
  border-radius: 10px;
  overflow: hidden;
  height: 230px;
}

.upcoming-drops .item figure a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upcoming-drops .item .caption .left {
  width: 70%;
  flex: 0 0 auto;
  color: #7a798a;
}

.upcoming-drops .item .right {
  width: 30%;
  flex: 0 0 auto;
  text-align: end;
  color: #1f1f2c;
}

.upcoming-drops .item .caption .left p.m-0 {
  color: #111;
}

.upcoming-drops .item .caption .left .d-flex > span {
  display: inline-block;
  height: 35px;
  width: 35px;
  background: #efefef;
  margin-right: 0.5em;
  border-radius: 10px;
}

.upcoming-drops .item .caption {
  color: #7a798a;
  font-size: 0.9em;
}

.upcoming-drops .item .caption a:not(.btn-site) {
  display: block;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 1.29em;
  font-weight: 700;
}
</style>
