<template>
  <div class="appnavbar">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand logo" href="#"
            ><img src="@/assets/images/sandwich-logo.svg" alt=""
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="bi bi-list icon-toggle"></i>
          </button>
          <div
            class="collapse navbar-collapse mb-4 mb-lg-0"
            id="navbarSupportedContent"
          >
            <form action="" id="search">
              <button>
                <img src="@/assets/images/IconSearch.svg" alt="" />
              </button>
              <input type="text" placeholder="Search SandwichNFT..." />
            </form>
            <ul class="navbar-nav" id="primary-menu">
              <li class="nav-item">
                <router-link class="nav-link" to="/">Home</router-link>
              </li>
              <li class="nav-item">
                <router-link class="nav-link" to="/Resources"
                  >Resources</router-link
                >
              </li>
              <li class="nav-item">
                <router-link class="nav-link" to="/Community"
                  >Community</router-link
                >
              </li>
            </ul>
            <a href="" class="connrct">Connect Wallet</a>
          </div>
        </div>
      </nav>
    </header>
  </div>
</template>
<script>
export default {
  name: "AppNavbar",
};
</script>
<style lang="scss" scoped>
.navbar-expand-lg .navbar-collapse {
  justify-content: space-around;
}
.navbar {
  padding: 0 !important;
}
.navbar-brand {
  padding: 0 !important;
}
header form#search button {
  background: 0;
  border: 0;
  margin-right: 0.5em;
}

header form#search input {
  border: 0;
  background: transparent;
  font-weight: 500;
}

header form#search input:focus {
  outline: 0;
}

#primary-menu {
  display: flex;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

#primary-menu li:not(:last-child) {
  margin-right: 0.6em;
}

#primary-menu li a {
  color: #1f1f2c;
  opacity: 0.5;
  transition: all 0.3s ease-out;
  font-weight: 700;
}

#primary-menu li a.router-link-active,
#primary-menu li a:hover {
  opacity: 1;
}

header a.connrct {
  display: block;
  padding: 0.5em;
  min-width: 150px;
  text-align: center;
  border-radius: 30px;
  border: 1.5px solid;
  color: #5142fc;
  font-weight: 700;
  text-decoration: none;
}

header a.connrct:hover {
  background: #5142fc;
  color: #fff;
}
.navbar-light .navbar-toggler {
  border-color: #1f1f2c !important;
}
.darktheme .navbar-light .navbar-toggler {
  border-color: white !important;
}
.darktheme .icon-toggle {
  color: white !important;
}
.icon-toggle {
  color: #1f1f2c !important;
}
@media (max-width: 1199.98px) {
  header a.connrct {
    min-width: 105px;
    font-size: 0.8em;
    flex: 0 0 auto;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  footer {
    text-align: center !important;
  }
  .darktheme {
    justify-content: center;
  }

  .darktheme > button {
    margin-left: 0;
  }
  footer .item-footer .logo p {
    margin-left: 0;
  }
  footer .item-footer .logo img {
    margin: auto;
  }
  footer .item-footer .socail {
    justify-content: center;
  }
  .main-slider .caption h2 {
    font-size: 1.5em;
  }
  .main-slider .caption p {
    font-size: 0.9em;
  }
  .main-slider {
    padding-top: 2em;
  }
  .main-slider .item .caption .left .d-flex .content h3 {
    font-size: 0.8em;
  }
  .main-slider .item .caption .left .d-flex .content span {
    font-size: 0.7em;
  }
  .main-slider .item .caption .left {
    width: 60%;
  }
  .main-slider .item .caption .right {
    width: 40%;
  }
  .main-slider .item {
    margin: 1.5em;
  }
  .trending-today .item a {
    height: 160px;
  }
  .trending-today .item:not(.mb-3) a {
    height: 300px;
    margin: 0 0 1rem;
  }
  .top-collections .item {
    padding: 0.5em;
  }
  .top-collections .item figure,
  .top-collections .item figure img {
    width: 40px;
    height: 40px;
  }
  .top-collections .item .caption h3 {
    font-size: 1em;
  }
  .top-collections .item .caption span {
    font-size: 0.8em;
  }
}
</style>
