<template>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="item-footer">
            <div class="logo">
              <img src="@/assets/images/logo-footer.png" alt="" />
              <p>The new standard in NFTs.</p>
            </div>
            <div class="form-check form-switch darktheme">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="flexSwitchCheckChecked dark_theme"
                v-model="this.$store.state.active"
              />
              <label class="form-check-label" for="flexSwitchCheckChecked"
                >Dark theme</label
              >
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="item-footer">
            <h2>SandwichNFT</h2>
            <ul>
              <li><a href="">Collections</a></li>
              <li><a href="">Stats</a></li>
              <li><a href="">Auctions</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="item-footer">
            <h2>Creating</h2>
            <ul>
              <li><a href="">Create</a></li>
              <li><a href="">FAQs</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="item-footer">
            <h2>Sandwich Network</h2>
            <p>Visit: Sandwich Network</p>
            <div class="socail">
              <a href=""><img src="@/assets/images/socail-001.svg" alt="" /></a>
              <a href=""><img src="@/assets/images/socail-002.svg" alt="" /></a>
              <a href=""><img src="@/assets/images/socail-003.svg" alt="" /></a>
              <a href=""><img src="@/assets/images/socail-004.svg" alt="" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  name: "Footer",
  data: function () {
    return {};
  },
};
</script>
<style lang="scss" scoped>
footer {
  padding: 3em 0;
  font-size: 0.95em;
}
.form-check-input:checked {
  background-color: #1f1f2c;
  border-color: #1f1f2c;
}
footer .item-footer .logo img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: -30px;
}

footer .item-footer .logo p {
  margin-top: -25px;
  font-weight: 500;
  margin-left: 48px;
}
footer a {
  color: #1f1f2c;
}
.darktheme > label {
  margin-left: 0.5em;
}

.darktheme > input {
  margin-left: 50px;
  position: relative;
}

.darktheme {
  display: flex;
  align-items: center;
}

.darktheme > button:after {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  background: #111;
  border-radius: 50px;
  left: 1px;
  top: 1px;
  transition: 300ms;
}

.darktheme > button.active:after {
  transform: translateX(9px);
}

footer .item-footer h2 {
  font-size: 1.3em;
  color: #1f1f2c;
  font-weight: 600;
  margin-bottom: 1em;
}

footer .item-footer ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

footer .item-footer .socail {
  display: flex;
  align-items: center;
}

footer .item-footer .socail a:not(:last-child) {
  margin-right: 1em;
}

footer .item-footer .socail a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  border-radius: 8px;
  background: #f7f7ff;
}

footer .item-footer .socail a:hover {
  transform: translateY(-5px);
}
@media (max-width: 1199.98px) {
  footer .item-footer h2 {
    margin-top: 1em;
    margin-bottom: 0em;
  }
  header a.connrct {
    min-width: 105px;
    font-size: 0.8em;
    flex: 0 0 auto;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  footer {
    text-align: center !important;
  }
  .darktheme {
    justify-content: center;
    text-align: center !important;
    padding: 0;
  }
  .darktheme > input {
    margin-left: 0;
  }
  footer .item-footer .logo p {
    margin-left: 0;
    margin-bottom: 0;
  }
  footer .item-footer .logo img {
    margin: auto;
  }
  footer .item-footer .socail {
    justify-content: center;
  }
}
</style>
