<template>
  <div :class="this.$store.state.active ? 'dark-theme' : ''">
    <AppNavbarVue />
    <router-view />
    <FooterVue />
  </div>
</template>
<script>
import AppNavbarVue from "./components/navbar/AppNavbar.vue";
import FooterVue from "./components/footer/Footer.vue";
export default {
  name: "app",
  components: {
    AppNavbarVue,
    FooterVue,
  },
};
</script>
<style>
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap");
:root {
  --c1: #5142fc;
  --c2: #2a292a;
}

a {
  color: #000;
  text-decoration: none !important;
  transition: 300ms !important;
}

a:hover {
  color: var(--c1);
}

body {
  font-family: "Urbanist", sans-serif !important;
}
.head {
  margin: 0 0 2.5em;
}

.head h2 {
  font-weight: 600;
  font-size: 1.8em;
  color: #4e9dff;
}

.head h2 > span {
  color: #111;
}

.btn-site {
  display: inline-block;
  padding: 0.5em;
  min-width: 150px;
  text-align: center;
  border-radius: 30px;
  border: 1.5px solid;
  color: #5142fc;
  font-weight: 700;
}

.btn-site:hover {
  background: #5142fc;
  color: #fff;
}
@keyframes top-b1 {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(5px);
  }
}

@-o-keyframes top-b1 {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(5px);
  }
}

@-moz-keyframes top-b1 {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(5px);
  }
}

@-webkit-keyframes top-b1 {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(5px);
  }
}

.dark-theme {
  color: rgb(209, 209, 209) !important;
  background: rgb(0, 0, 0) !important;
}
.dark-theme header form#search button img {
  filter: brightness(0) invert(1) !important;
}

.dark-theme .top-collections .item .caption h3 {
  color: #e1e1e1 !important;
}

.dark-theme .upcoming-drops .item,
.dark-theme .resources-started .item,
.dark-theme .main-slider .item,
.dark-theme .swiper-button-next,
.dark-theme .swiper-button-prev {
  background: #333 !important;
}
.navbar-light .navbar-toggler {
  border-color: #1f1f2c !important;
}
.dark-theme .navbar-light .navbar-toggler {
  border-color: white !important;
}
.dark-theme .icon-toggle {
  color: white !important;
}
.icon-toggle {
  color: #1f1f2c !important;
}
.dark-theme .main-slider .item .caption .left .d-flex .content span {
  color: #f5f5f5;
}

.dark-theme .main-slider:before,
.dark-theme .resources-started:before {
  filter: brightness(0) !important;
}

.dark-theme .upcoming-drops,
.dark-theme .resources-started {
  background: 0 !important;
}

.dark-theme .darktheme > button {
  background: #555 !important;
}

.dark-theme footer .item-footer .socail a {
  background: #222 !important;
}

.dark-theme #primary-menu li a,
.dark-theme .main-slider .caption h2 span,
.dark-theme .head h2 > span,
.dark-theme .upcoming-drops .item .caption .left p.m-0,
.dark-theme .upcoming-drops .item .right,
.dark-theme .create-sell .item h2,
.dark-theme .main-slider .item .caption .left .d-flex .content h3,
.dark-theme a,
.dark-theme footer .item-footer h2 {
  color: rgb(255, 255, 255) !important;
}
.dark-theme .upcoming-drops,
.dark-theme .resources-started {
  background: 0px center;
}
.dark-theme a {
  color: rgb(255, 255, 255) !important;
}
</style>
